[submodule "js-ajax"]
	path = js-ajax
	url = git@github.com:abuabdirohman4/js-ajax.git
	branch = main
[submodule "js-basic"]
	path = js-basic
	url = git@github.com:abuabdirohman4/js-basic.git
	branch = main
[submodule "js-dom"]
	path = js-dom
	url = git@github.com:abuabdirohman4/js-dom.git
	branch = main
[submodule "js-express"]
	path = js-express
	url = git@github.com:abuabdirohman4/js-express.git
	branch = develop
[submodule "js-mern"]
	path = js-mern
	url = git@github.com:abuabdirohman4/js-mern.git
	branch = master
[submodule "js-modern"]
	path = js-modern
	url = git@github.com:abuabdirohman4/js-modern.git
	branch = master
[submodule "js-next"]
	path = js-next
	url = git@github.com:abuabdirohman4/js-next.git
	branch = master
[submodule "js-node"]
	path = js-node
	url = git@github.com:abuabdirohman4/js-node.git
	branch = develop
[submodule "js-react"]
	path = js-react
	url = git@github.com:abuabdirohman4/js-react.git
	branch = master
[submodule "js-vue"]
	path = js-vue
	url = git@github.com:abuabdirohman4/js-vue.git
	branch = master
[submodule "js-modules"]
	path = js-modules
	url = git@github.com:abuabdirohman4/js-modules.git
	branch = master
[submodule "js-alpine"]
	path = js-alpine
	url = git@github.com:abuabdirohman4/js-alpine.git
[submodule "js-typescript"]
	path = js-typescript
	url = git@github.com:abuabdirohman4/js-typescript.git
[submodule "js-jquery"]
	path = js-jquery
	url = git@github.com:abuabdirohman4/js-jquery.git
[submodule "js-codewars"]
	path = js-codewars
	url = git@github.com:abuabdirohman4/js-codewars.git
[submodule "js-solid-principle"]
	path = js-solid-principle
	url = git@github.com:abuabdirohman4/js-solid-principle.git
