[submodule "js-basic"]
	path = js-basic
	url = git@github.com:abuabdirohman4/js-basic.git
	branch = main
[submodule "js-modern"]
	path = js-modern
	url = git@github.com:abuabdirohman4/js-modern.git
	branch = master